<%- include("partials/_header") -%>

  <body>
    <!-- Navigation -->
    <%- include("partials/_navigation") -%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            Hello Friends. I am Fatih, a Full Stack Developer trying to develop my technical skills in ReactJS, VueJS and NodeJS.
            I love working with Javscript that is why I am learning as much as possible about it and trying to master the concepts about Web Development with Javascript.
          </p>
          <p>
            I have experience working with HTML5, CSS3, Javascript and ReactJS. I recently attended Reengen Full Stack Bootcamp in Patika.dev and there I am learning about VueJS and NodeJS. I am enjoying the challenging process and trying to build projects with my new skills.
          </p>
          <p>
            If you would like to reach me you can find my social media links and contact details below in the footer section.
          </p>
        </div>
      </div>
    </div>

    <hr />

    <!-- Footer -->
    <%- include("partials/_footer") -%>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>
  </body>
</html>
