<%- include("partials/_header") -%>

  <body>
    <!-- Navigation -->
    <%- include("partials/_navigation") -%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Register</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <form method="POST" action="/register" >
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Name</label>
                  <input type="text" class="form-control" name="first_name" placeholder="First Name" required data-validation-required-message="Please enter your name">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Last Name</label>
                  <input type="text" class="form-control" name="last_name" placeholder="Last Name" required data-validation-required-message="Please enter your last name">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>E-mail</label>
                  <input type="email" class="form-control" name="email" placeholder="E-mail" required data-validation-required-message="Please enter your e-mail">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Password" required data-validation-required-message="Please enter a password">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Sign Up</button>
            </form>
          </div>
        </div>
      </div>

    <hr />

    <!-- Footer -->
    <%- include("partials/_footer") -%>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>
  </body>
</html>
